<form action="/flights/add-southwest-flights" method="post">
  <p>Paste the whole page here</p>
  <textarea name="southwest_flights_information"></textarea>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
