<% if session[:success] %>
  <div class="flash success">
    <%= session.delete(:success) %>
  </div>
<% end %>
<% if session[:error] %>
  <div class="flash error">
    <%= session.delete(:error) %>
  </div>
<% end %>
