body {
  font-family: Arial, sans-serif;
  padding: 0 1em;
}

div.col-6 {
  width: 50%;
  float: left;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.1em;
}

div.flash {
  padding: 1em;
}

div.flash.success {
  background-color: #AFA;
}

div.flash.error {
  background-color: #FAA;
}

textarea {
  width: 35em;
  height: 3em;
  font-size: 1em;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #EEE;
}

tr:nth-child(even) {
  background-color: #EEE;
}

th, td {
  border: 1px solid #AAA;
  padding: 0.5em;
  text-align: center;
}

form.inline {
  display: inline;
}

button {
  font-size: 1em;
}

button.highlighted {
  background-color: hsl(20, 100%, 65%);
}

input {
  font-size: 0.9em;
}

input.uppercase {
  text-transform: uppercase;
}

select {
  font-size: 0.95em;
}

/*span.step {
  font-weight: bold;
  text-decoration: underline;
}
*/
